<div class="product-card">
    <!-- Envuelve el contenido en un routerLink que navega a /product/:id -->
    <a [routerLink]="['/product', product.id]" class="product-link">
        <div class="product-image-container">
            <img [src]="product.image" alt="{{product.name}} image">
        </div>
        <div class="product-info">
            <h3>{{product.name}}</h3>
            <p class="product-category">{{product.category}}</p>
            <p class="product-price">{{product.price | currency}}</p>
        </div>
    </a>
    <!-- El botón "Agregar al carro" se mantiene fuera del enlace si quieres que funcione independientemente -->
    <button class="btn add-to-cart-btn" (click)="onProductAddToCart()">Agregar al carro</button>
</div>