<div class="product-card">
    <div class="product-image-container">
        <img [src]="product.image" alt="{{product.name}} image"> <!-- Añadir la imagen -->
    </div>
    <div class="product-info">
        <h3>{{product.name}}</h3>
        <p class="product-category">{{product.category}}</p> <!-- Añadir clase para categoría -->
        <p class="product-price">{{product.price | currency}}</p>
    </div>
    <button class="btn add-to-cart-btn" (click)="onProductAddToCart()">Agregar al carro</button> <!-- Añadir clase para el botón -->
</div>